{% extends "encyclopedia/layout.html" %}

{% block title %}
    Wikipedia - Add entry: {{ title }}
{% endblock %}

{% block body %}
<h1 class="mt-3 text-3xl font-medium tracking-wider text-blue-900 hover:text-blue-800 transition-colors">Add entry: {{ title }}</h1>

<form action="{% url 'add' %}" method="POST">
    {% csrf_token %}
    <div>
        {% for field in form %}
        <div>
            <div> {{ field.label }}</div>
            <div> {{ field }}</div>
        </div>
        {% endfor %}
            <div class="w-32 text-center p-1 rounded-md bg-gray-300 text-blue-900 text-lg cursor-pointer hover:bg-gray-200 tracking-wide">
                <input type="submit" value="Edit">
            </div>
  </div>
</form>

<a href ="{% url 'index' %}" class="hover:underline">Go to Home Page</a>
{% endblock %}